{% extends 'base.html.twig' %}

{% block title %}{{ 'legal.notice.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'legal.notice.title' | trans }}</h1>

    <p>{{ 'legal.notice.intro' | trans }}</p>
    <p>{{ 'legal.notice.ip' | trans }}</p>
    <p>{{ 'legal.notice.contact' | trans }} <a href="mailto:contact.innovadev@gmail.com">contact.innovadev@gmail.com</a></p>
{% endblock %}