{% extends 'base.html.twig' %}

{% block title %}{{ 'privacy.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'privacy.title' | trans }}</h1>

    <p>{{ 'privacy.intro' | trans }}</p>
    <p>{{ 'privacy.data' | trans }}</p>
    <p>{{ 'privacy.rights' | trans }}</p>
{% endblock %}