{% extends 'base.html.twig' %}

{% block title %}InnovaDev - Inicio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="hero">
            <div class="hero-text">
                <h1>InnovaDev: Construyendo el futuro de la Web</h1>
                <p>Jóvenes desarroladores especializados en PHP, Symfony, JavaScript y apasionados por la IA y el Big Data.</p>
            </div>

            <div class="hero-buttons">
                <a href="{{ path('projects') }}" class="btn-primary">Ver Proyectos →</a>
                <a href="{{ path('services') }}" class="btn-secondary">Nuestros Servicios</a>
            </div>
        </div>

        <div class="main-section">
            <div class="about">
                <h2>Sobre Nosotros</h2>

                <p>
                    Elit aliqua cupidatat nulla tempor labore aliquip ad est veniam ut ullamco Lorem occaecat. Velit eu eu fugiat est. Ut sit esse magna id nulla sint veniam deserunt veniam excepteur pariatur proident nulla exercitation. Magna consequat voluptate sit reprehenderit occaecat deserunt minim nisi tempor cillum in.
                </p>

                <div class="about-image">
                    <img src="" alt="Fran Requena">
                    <img src="" alt="Rodrigo Ceacero">
                    <img src="" alt="Fran Cañera">
                </div>
            </div>
            <div class="skills">
                <h2>Habilidades y Tecnologías</h2>

                <div class="web-dev">
                    <h3>Desarrollo Web</h3>

                    <p>Sunt esse quis in amet amet ullamco magna consequat culpa. Commodo veniam aliquip adipisicing dolor ullamco sint cillum pariatur officia aliquip et incididunt qui aliquip. Aute non dolor deserunt anim elit exercitation. Qui nulla nostrud elit exercitation quis nulla aliquip eu culpa magna Lorem cillum amet est. Officia id dolor aliqua sunt. Exercitation fugiat ex ex dolore exercitation culpa velit aliquip sint laborum.</p>

                    <ul>
                        <li>PHP</li>
                        <li>Symfony</li>
                        <li>JavaScript</li>
                        <li>HTML5 & CSS3/Sass</li>
                        <li>SQL</li>
                    </ul>
                </div>

                <div class="ia-bd">
                    <h3>Inteligencia Artificial y Big Data</h3>

                    <p>Excepteur incididunt laboris nisi cupidatat esse laboris incididunt. Laboris nisi ullamco exercitation officia dolor sint. Labore incididunt aliqua laboris excepteur sint minim occaecat. Laboris nisi ullamco exercitation officia dolor sint. Labore incididunt aliqua laboris excepteur sint minim occaecat.</p>

                    <ul>
                        <li>Machine Learning</li>
                        <li>Data Analysis</li>
                        <li>Python</li>
                        <li>TensorFlow</li>
                    </ul>
                </div>
            </div>
            <div class="ft-projects">
                <h2>Proyectos Destacados</h2>

                {# TODO: Aquí puedes agregar una lista o galería de proyectos destacados junto con las respectivas tecnologías utilizadas #}
            </div>
        </div>
    </div>
{% endblock %}